<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="System Failure Tests" parallel="false">
	<test name="System Failure Test">
		<classes>
			<class name="com.snapdeal.qa.SystemFailureAlerts.TestClass.TestClass" />
		</classes>
	</test>
</suite>
